@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(assests/jpg/banner/loginbackground.jpg);
    /* background-image:linear-gradient(180deg,rgba(0,0,0,.5) 0,transparent), url(assests/jpg/banner/loginbackground.jpg); */

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 10px;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
    /* background-color: #000; */

}
nav .logo{
    width: 180px;
    padding: 0% 1%;
}
nav button{
    border: none;
    outline: none;
}
nav .buttons{
    margin-right: 3%;
}
nav .buttons .langbutton{
    background:#222;
    border:2px solid #fff;
    padding: 6px 20px;
    border-radius: 2px;
    color: #fff;
    transition: 2s;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;

}

nav .buttons .langbutton:hover{
    background-color: #555;
}
nav .buttons .signinbutton{
    background:#ff0000;
    border:2px solid #fff;
    padding: 6px 20px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    transition: 1s;
    font-size: 1rem;
    font-weight: 400;
}
nav .buttons .signinbutton a{
    text-decoration: none;
    color: #fff;

}
nav .buttons .signinbutton:hover{
    background-color: #333131;
}

.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header-title h1{
    line-height: 70px;
    font-weight: 800;
    font-size: 55px;
    max-width: 1300px;
}
.header-title h3{
    font-weight: 400;
    margin-bottom: 2%;
}
.emailform{
    margin: 2% 2%;
}
.emailform input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    /* padding: 20px 40px; */
    background: transparent;
    border: 1px solid #e4dddd;
    /* padding: 15px 30px; */
    width: 50%;
    margin-right: 5px;
    height: 50px;
    border-radius: 2px;
}
.emailform input::placeholder{
    color: #fff;
    font-size: 1.1rem;
    padding-left: 7px;
}
.emailform button{
    background-color: #e21313;
    cursor: pointer;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 1.1rem;
    width: 20%;
    height: 50px;
    border-radius: 2px;
}
.emailform button i{
    padding: 0px 3px;
    size: 2px;
}

.container1{
    display: flex;
    border-top: 5px solid #333;
    align-items: center;
}
.container1 .container-title{
    padding: 10% 7%;
    max-width: 60%;
    
    /* font-size: 2rem; */
}
.container1 .image{
    margin-right: 10rem;
    /* margin: 2% 0%; */
    max-width: 100%;
    height: 400px;
}
.container1 .container-title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600px;
    padding-left: 20%;
}
.container1 .container-title p{
    margin: 16px 0 0;
    font-size: 1.5rem;
    padding-left: 20%;
   
}

.container2{
    display: flex;
    border-top: 5px solid #333;
    align-items: center;
}
.container2 .container-title{
    padding: 10% 7%;
    max-width: 60%;
    
    /* font-size: 2rem; */
}
.container2 .image{
    margin-left: 10rem;
    /* margin: 2% 0%; */
    max-width: 100%;
    height: 400px;
}
.container2 .container-title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600px;
    padding-right: 20%;
}
.container2 .container-title p{
    margin: 16px 0 0;
    font-size: 1.5rem;
    padding-right: 20%;
   
}
.faq{
    border-top: 5px solid #333;
    padding: 20px 10%;
    font-size: 1rem;
    text-align: center;

}
.faq h1{
    font-weight: 600px;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}
.faq ul{
    margin: 60px auto;
    max-width: 1050px;
    width: 100%;
}
.faq ul li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.faq ul li label{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color:  #333 ;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 3px;
    position: relative;
}
label::after{
    content: "+";
    font-size: 35px;
    position: absolute;
    right: 20px;
}

input[type='radio']{
    display: none;
}

.faq .content{
    background-color: #444;
    font-size: 1.3rem;
    padding: 0% 2%;
    max-height: 0;
    overflow: hidden;
}

.faq-footer{
    text-align: center;
    position: relative;
    margin-top: -3%;
}
/* .faq-footer h1{
    line-height: 70px;
    font-weight: 800;
    font-size: 55px;
    max-width: 1300px;
}
.faq-footer h3{
    font-weight: 400;
    margin-bottom: 2%;
} */
.faq-footer p{
    font-size: 1.4rem;
}
.faq-footer .emailform{
    margin: 2% 2%;
}
.faq-footer .emailform input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    /* color: #555; */
    /* padding: 20px 40px; */
    background: transparent;
    border: 1px solid #615b5b;
    /* padding: 15px 30px; */
    width: 30%;
    margin-right: 5px;
    height: 50px;
    border-radius: 2px;
}
.faq-footer .emailform input::placeholder{
    color: #c9b9b9;
    font-size: 1.1rem;
    padding-left: 7px;
}
.faq-footer .emailform button{
    background-color: #e21313;
    cursor: pointer;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 1.1rem;
    width: 10%;
    height: 50px;
    border-radius: 2px;
}
.faq-footer .emailform button i{
    padding: 0px 3px;
    size: 2px;
}









/* footer */

footer{
    padding: 50px 10% 10px;
    border-top: 5px solid #333;
    color: #f2ecec;
    /* background-color: #111; */
}
footer h3{
    font-size: 1.3rem;
    font-weight: 400;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-bottom: 20px;
}
footer .col{
    margin: 10px 50px;
}
footer .row{
    display: flex;
    align-items: flex-start;
    padding: 10px 0px;
}
footer .col a{
    text-decoration: none;
    color: #f2ecec;
    font-size: 1rem;
    display: block;
    padding: 0px 0px 10px;
}
footer select{
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #ffff;
    padding: 15px 20px;
    margin: 5px;
    background-color: #111;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;

}
footer  .ftrbtn{
    background: transparent;
    border: 3px solid #666;
    font-size: 1rem;
    color: #f2ecec;
    border-radius:5px ;
    padding: 3px 4px;
}
footer .ftrhd{
    color: #f2ecec;
    margin: 10px 0px;
    font-size: 1rem;
}
footer i{
    padding: 4px ;
}